language: node_js
os:
  - linux
  - osx
  - windows
node_js:
  - '12'
script: 'export PATH=/c/program\ files/git/mingw64/libexec/git-core:$PATH && echo $PATH && npm run test-ci'
after_script: 'bash <(curl -s https://codecov.io/bash)'
