name: Node.js CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  lint:
    name: Lint using ESLint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 14
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - name: npm install and lint
        run: |
          npm install
          npm run lint

  test:
    name: Test on Node.js ${{ matrix.node-version }} and ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        node-version: [10.x, 12.x, 14.x]
        os: [ubuntu-latest, windows-latest, macOS-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: npm install and test
        shell: pwsh
        run: |
          npm install
          npm run tap -- --coverage-report=lcov
      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@v1
