name: Node.js CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    name: Lint using ESLint

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use Node.js 14
        uses: actions/setup-node@v2
        with:
          node-version: 14.x

      - name: Install packages
        run: npm install

      - name: Run lint
        run: npm run lint

  test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
        node-version:
          - 10.x
          - 12.x
          - 14.x
          - 15.x

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install packages
        run: npm install

      - name: Run test
        run: npm run tap -- --coverage-report=lcov

      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@v1
